a:link {color:#7092a8;}
a:visited {color:#7092a8;}
a:hover {color:#000000;}
a:active {color:#7092a8;}
.Wp-Body-02-P
{
    margin:0.0px 0.0px 12.0px 0.0px; text-align:left; font-weight:400;
}
a.Wp-Body-02-P-H:link {color:#a0a0a0;}
a.Wp-Body-02-P-H:visited {color:#a0a0a0;}
a.Wp-Body-02-P-H:hover {color:#a0a0a0;}
a.Wp-Body-02-P-H:active {color:#a0a0a0;}
.Wp-Body-Text-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Body-Text-3-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Footer-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:center; font-weight:400;
}
.Wp-Heading-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Hyperlink-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Normal-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Subtitle-P
{
    margin:0.0px 0.0px 12.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Title-P
{
    margin:0.0px 0.0px 20.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Default-Paragraph-Font-C
{
    font-family:"Verdana", sans-serif;
}
.Wp-Placeholder-C
{
    font-family:"Verdana", sans-serif;
}
.Wp-Strong-C
{
    font-family:"Verdana", sans-serif; font-weight:700;
}

body{margin:0;padding:0;}
.Footer-C
{
    font-family:"Verdana", sans-serif; font-size:11.0px; line-height:1.18em;
}
.Normal-C
{
    font-family:"Swis721 BT", sans-serif; font-weight:700; color:#274f77; font-size:16.0px; line-height:1.19em;
}
.Button1,.Button1:link,.Button1:visited{background-image:url('../wpimages/wp4ccb9557_06.png');background-position:0px 0px;text-decoration:none;display:block;position:absolute;}
.Button1:focus{outline-style:none;}
.Button1:hover{background-position:0px -66px;}
.Button1:active{background-position:0px -33px;}
.Button1 span,.Button1:link span,.Button1:visited span{color:#666666;font-family:Arial,sans-serif;font-weight:normal;text-decoration:none;text-align:center;text-transform:none;font-style:normal;left:6px;top:10px;width:85px;height:14px;font-size:11px;display:block;position:absolute;cursor:pointer;}
.Button1:hover span{top:1px;}
.Button1:active span{color:#333333;top:1px;}
.Button2,.Button2:link,.Button2:visited{background-image:url('../wpimages/wpe50a8fd9_06.png');background-position:0px 0px;text-decoration:none;display:inline-block;background-color:transparent;border:none 0px;padding:0;}
.Button2:focus{outline-style:none;}
.Button2:hover{background-position:0px -86px;}
.Button2:active{background-position:0px -43px;}
.Button3,.Button3:link,.Button3:visited{background-image:url('../wpimages/wp5d1b538c_06.png');background-position:0px 0px;text-decoration:none;display:block;position:absolute;}
.Button3:focus{outline-style:none;}
.Button3:hover{background-position:0px -110px;}
.Button3:active{background-position:0px -55px;}
.Button3 span,.Button3:link span,.Button3:visited span{color:#333333;font-family:Arial,sans-serif;font-weight:normal;text-decoration:none;text-align:left;text-transform:none;font-style:normal;left:34px;top:16px;width:101px;height:17px;font-size:13px;display:block;position:absolute;cursor:pointer;}
.Button3:hover span{color:#ffffff;}
.Button3:active span{color:#ffffff;}
.Button4,.Button4:link,.Button4:visited{background-image:url('../wpimages/wp125e1134_06.png');background-position:0px 0px;text-decoration:none;display:block;position:absolute;}
.Button4:focus{outline-style:none;}
.Button4 span,.Button4:link span,.Button4:visited span{color:#f0f1f2;font-family:Arial,sans-serif;font-weight:normal;text-decoration:none;text-align:center;text-transform:none;font-style:normal;left:9px;top:4px;width:78px;height:20px;font-size:16px;display:block;position:absolute;cursor:pointer;}

.DeleteButton {background-image:url('../wpimages/wpbbb02b8c_06.png'); background-position:0px 0px;text-decoration:none;display:inline-block; background-color:transparent ;border:none 0px;padding:0; width : 13px; height :13px}
.DeleteButton:hover {background-image:url('../wpimages/delete_blur.png'); background-position:0px 0px;text-decoration:none;display:inline-block; background-color:transparent ;border:none 0px;padding:0; width : 13px; height :13px}
.DeleteButton:active {background-image:url('../wpimages/delete_blur.png'); background-position:0px 0px;text-decoration:none;display:inline-block; background-color:transparent ;border:none 0px;padding:0; width : 13px; height :13px}
.ExpandButton {background-image:url('../wpimages/plus.png'); background-position:0px 0px;text-decoration:none;display:inline-block; background-color:transparent ;border:none 0px;padding:0; width : 25px; height :12px}
.ExpandButton:hover {background-image:url('../wpimages/plusshade.png'); background-position:0px 0px;text-decoration:none;display:inline-block; background-color:transparent ;border:none 0px;padding:0; width : 25px; height :12px}
.ExpandButton:active {background-image:url('../wpimages/plusshade.png'); background-position:0px 0px;text-decoration:none;display:inline-block; background-color:transparent ;border:none 0px;padding:0; width : 25px; height :12px}
.CriteriaButton {background-position:0px 0px;color:green; font-size:10px; text-decoration:none;display:inline-block; background-color:transparent ;border:1px solid;padding:0; width : 60px; height :15px}
.CriteriaButton:hover {background-position:0px 0px;color:green; font-size:10px;text-decoration:none;display:inline-block; background-color:transparent ;border:none 0px;padding:0; width : 60px; height :15px}
.CriteriaButton:active {background-position:0px 0px;color:green; font-size:10px;text-decoration:none;display:inline-block; background-color:transparent ;border:none 0px;padding:0; width : 60px; height :15px}
.MapButton {background-position:0px 0px;color:green;font-family:Tahoma, Geneva, sans-serif;font-size:10px;background-color:transparent;border:1px solid;width : 30px;height :15px;background-position:0px 0px;text-decoration:none;display:inline-block;padding:0;}
.MapButton:hover {background-position:0px 0px;color:green; font-size:10px;text-decoration:none;display:inline-block; background-color:transparent ;border:none 0px;padding:0; width : 30px; height :15px}
.MapButton:active {background-position:0px 0px;color:green; font-size:10px;text-decoration:none;display:inline-block; background-color:transparent ;border:none 0px;padding:0; width : 30px; height :15px}
.LocCriteriaButton {background-position:0px 0px;color:green; font-size:10px; text-decoration:none;display:inline-block; background-color:transparent ;border:1px solid;padding:0; width : 60px; height :15px}
.LocCriteriaButton:hover {background-position:0px 0px;color:green; font-size:10px;text-decoration:none;display:inline-block; background-color:transparent ;border:none 0px;padding:0; width : 60px; height :15px}
.LocCriteriaButton:active {background-position:0px 0px;color:green; font-size:10px;text-decoration:none;display:inline-block; background-color:transparent ;border:none 0px;padding:0; width : 60px; height :15px}
.PropCriteriaButton {background-position:0px 0px;color:green; font-size:10px; text-decoration:none;display:inline-block; background-color:transparent ;border:1px solid;padding:0; width : 60px; height :15px}
.PropCriteriaButton:hover {background-position:0px 0px;color:green; font-size:10px;text-decoration:none;display:inline-block; background-color:transparent ;border:none 0px;padding:0; width : 60px; height :15px}
.PropCriteriaButton:active {background-position:0px 0px;color:green; font-size:10px;text-decoration:none;display:inline-block; background-color:transparent ;border:none 0px;padding:0; width : 60px; height :15px}
.ComCriteriaButton {background-position:0px 0px;color:green; font-size:10px; text-decoration:none;display:inline-block; background-color:transparent ;border:1px solid;padding:0; width : 60px; height :15px}
.ComCriteriaButton:hover {background-position:0px 0px;color:green; font-size:10px;text-decoration:none;display:inline-block; background-color:transparent ;border:none 0px;padding:0; width : 60px; height :15px}
.ComCriteriaButton:active {background-position:0px 0px;color:green; font-size:10px;text-decoration:none;display:inline-block; background-color:transparent ;border:none 0px;padding:0; width : 60px; height :15px}
.ui-widget button.OKButton {color:green; font-size:12px;}
.smalltxt {font-size : 10px}
.lat {background-position:0px 0px;}
.long {background-position:0px 0px;}

li.ui-menu-item {font-size : 12px;font-family : georgia;}
table {border-collapse: collapse; font-size : 12px; border: 1px solid #C0C0C0;}
.schtab {border-collapse: collapse; font-size : 12px; border: 0; padding: 2px;}
th {padding: 5px; font-size: 14px; text-align: center; background: rgba(242,242,242,0.5);}
td {padding: 3px;}
td,th+th {border: 1px solid #C0C0C0; border: 1px solid #C0C0C0;}
.schtd {border: 0; padding: 2px;}
.hs {border-collapse: collapse; font-size : 12px; border: 1px solid #C0C0C0;}
.sch1 {border: 0; padding: 2px; background: #ccff99}
.sch2 {border: 0; padding: 2px; background: #ffff66}
.sch3 {border: 0; padding: 2px; background: #ffcc99}
.sch4 {border: 0; padding: 2px; background: #ff9999}
.schunc {border: 0; padding: 2px;}
td+td { border: 1px solid #C0C0C0;}
.secondrow th {border: 1px solid #C0C0C0;}

div.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
div.ui-dialog .ui-dialog-titlebar { font-size : 12px; background: #e6e6e6; color:green; padding: .4em 1em; position: relative; }
div.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; }
div.Button1.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
div.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
div.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
div.ui-dialog .ui-dialog-content { font-size : 12px; font-family : georgia; position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
div.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
div.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
div.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
div.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
div.ui-draggable .ui-dialog-titlebar { cursor: move; }

div.ui-button .ui-button-text { display: block; line-height: 1.4;  }
div.ui-button-text-only .ui-button-text { padding: .4em 1em; }
div.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
div.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
div.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
div.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }